FDAInterface/Connected Services/FDAApplication/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="FDAApplication" elementFormDefault="qualified" targetNamespace="FDAApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SetConsoleVisible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visible" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConsoleVisibleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>